:root{

    --bg1: #2D2A2B;
    --bg2: rgb(44, 42, 42);
    --body: rgb(95,86, 86):var(--bg1);
    --brand: #F2B03B;
    --white: rgb (156, 154, 154);
    --p: rgb (161, 150, 150);


}

body{
    background-color: #763687;
}

a{
    text-decoration: none;
}
#banner{ 
    height: 100vh;
    background-size: cover;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
}
/* */
.navbar {
    background: linear-gradient(to bottom, (0. 2%, 17%, 0.829) , (44, 42, 42, 0.884));
}
.icon-box-img{
    width: 40%;
}
.btn{
    padding: 15px 30px;
    transition: all 0.4s ease;
    font-weight: 800;
    border-radius: 0;
}

.btn-brand{
    background-color: var(--brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}
.btn-outline-brand{
    background-color: transparent;
    color: var(--brand);
}
.btn-outline-brand:hover{
    background-color: var(--brand);
    color: var(--bg1);
}
.card:hover{
    background-color: #a9a9a9;
}
.card:hover .card-title,
.card:hover .card-text,
.card:hover.btn {
    color: #ffff;
}
#cta{ 
    position: relative;
    opacity: 0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100vh;
    background-image: linear-gradient(to right, hsla(0, 3%, 34%, 0.856), rgba(19, 18, 18, 0.315)),
    url('https://img.freepik.com/free-photo/top-view-workspace-with-laptop-notebook_23-2148430831.jpg?t=st=1711338269~exp=1711341869~hmac=98731775c930dc31d70094ccf163aee2acf92216a260ee94209f554c2775747b&w=1380');
    background-size: cover;
}
.testimonials{
    background: white;
    padding: 30px;
}
.testimonials img{
    border-radius: 50%;
}
.faq-section{
    width: 800px;
    margin: auto;
}
.accordion-button{
    background-color:  antiquewhite;
    border: none;
    border: 1px solid, darkgrey;
    border-bottom: 15px;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.accordion-body{
    border-left: 3px solid var(--brand);
    padding: 10px 15px;
    margin-left: 0;
    background-color: aqua;
}
.accordion-item{
    margin-bottom: 10px;
}

.faq-answer p{
    margin-bottom: 0;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:not(.collapsed){
    color: var(--bg1);
}
/* Hover effect for FAQ question */
.accordion-button:hover{
    background-color: var(--brand);
    color: var(--bg1);
}
 /* Adjust accordion icon */
.accordion-button::after{
    font-family: "Font Awesome 5 Free";
    content: "";
    font-weight: 900;
    margin-left: auto;
}
.accordion-button[aria-exapanded="true"]::after{
    content: "";
}
.footer .container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer h5 {
    margin-bottom: 20px;
}

.footer p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .footer .col-md-3 {
        margin-bottom: 30px;
    }
}
#footer {
    background-color: whitesmoke;
}